* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
#root {
  font-family: "poppins", sans-serif;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* margin: 0; */
  /* padding: 0; */
  /* padding: 2rem; */
  /* text-align: center; */
}

nav {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 20px 36px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  /* justify-content: center; */
}

section {
  padding: 20px;
}

span {
  font-weight: bold;
}

.grey {
  color: #918e9b;
  margin: 3px;
}

.nav--logo {
  width: auto;
  height: auto;
  max-width: 110px;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.hero--photo {
  max-width: 1000px;
  margin-top: 45px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card--star,
.card--price {
  height: 14px;
  margin-right: 2px;
}

.cards--list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
}

.bold {
  font-weight: bold;
}
